
body{
  padding: 0;
  margin: 0;
  background: rgb(36, 33, 33);

}
.nav{
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.left-nav{
    color: rgb(160, 182, 201);
    display: flex;
    gap: 20px;  
}




.right-nav{
    color: rgb(97, 121, 143);
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.Download{
   color:rgb(252, 253, 253);
    background-color: rgb(0, 109, 252);
    border: none;
}
.search{
   background: rgb(36, 33, 33);

}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}

.img{
    border: 40px;
    border-style: solid;
    border-color: rgb(21, 125, 173);
}









