body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: black;
    position: relative;
    width: 800px;
    height:500px;
}
.clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clip1{
    background: ;
    background-position: center;
    background-size: cover;
}
.clip2{
    background: ;
    background-position: center;
    background-size: cover;
}
.clip3{
    background: ;
    background-position: center;
    background-size: cover;
}