body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    color: black;
}

.card-container{
    position: relative;
    width: 300px;
    height: 30rem;
    background: white;
    overflow: hidden;
}

.card-container:before{
    content: "";
    position: absolute;
    left: 0;
    bottom:5px;
    height: 100%;
    width: 100%;
    background: violet;
    transition: 1s;
    z-index: 1;
}

.card-container:hover:before{
    bottom: 0;
}

.content{
    position: relative;
    transition: 1s;
    color: black;
    z-index: 2;
}