body{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.card{
    width: 30rem;
    height: 30rem;
    background-color: black;
    box-shadow: black;
    position: relative;
    overflow: hidden;

}

.content{
    position: absolute;
    height: 10px;
    width: 80%;
    bottom: 0px;
    left: 10%;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    transition: 1s;
}

h3{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin: 25px;
}


p{
    width: 80%;
    margin: 10% auto;
    font-size: 18px;
    transition: 1s;
    opacity: 0;
    
}
img{
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: cover;
    transition: 1s;
    position: absolute;
}

a{
    text-decoration: none;
    background-color: black;
    padding: 10px 15px;
    margin-top: 15px;
    display:inline-block;
    transition: 1s;
    color: white;
    line-height: 25px;
    opacity: 0;

}

.card:hover .content{
    height: 100%;
    width: 100%;
    left: 0;
   

}

.card:hover p,
.card:hover a{
    opacity:1;
}

.img-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s;
}

.card:hover img {
    opacity: 0;
    transition: 0.6s;
}

