body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    width: 30rem;
    height: 30rem;
    position: relative;
    overflow: hidden;

}

.container img{
    width: 100%;
    transition: all 1s;
}

.content{
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
        transition: all 1s;
    transform: translateY(100%);
}

.container:hover .content{
    transform: translateY(0);
}

.container:hover img{
    transform: translateY(-30%);
}