@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-btn{
    background-color: rgb(236, 164, 55);
    padding: 10px 20px;
}
body{
    background-color:black;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}
li{
    list-style: none;
    display: inline;
    cursor: pointer;
}

li a{
    color:white;
    text-decoration: none;
    margin:15px;
    padding-bottom:1px;
}

li a:hover{
border-bottom: 1px solid white;
}


.header{
    
    background: url(images/pexels-nao-triponez-129207.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    position: relative;
    text-align: center;
}


.main-heading{
    position: absolute;
    top: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom:-40px;

}

.primary-heading{
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}

.main-btn{
    position: absolute;
    margin-top: 20px;
    padding: 10px 30px; 
    bottom: 2rem;
    background: transparent;
    background-color: rgb(236, 164, 55);
    transform: translateY(60px);
}

#our-story{
   /* height :100vh; */
   margin-top: 15%d;
   display: flex;
   justify-content: space-around;
   align-items: center;
}


.img{
    width: 400px;
    height: 400px;
    background: url(images/pexels-chitokan-2183027-removebg-preview.png);
    background-position: center;
    background-size: cover;
    display: flex;
    
}

.titlestyle{
    display:flex;
    align-items: center;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    color: cornsilk;
    transform: translateX(-100px);
}

.line{
    width:100px;
    height: 2px;
    transform: translateX(-120px);
    color: white;
}

.section-content p{
    line-height: 20px;
    max-width: 500px;
    margin: 20px 0;
    color: white;
}
.section-content p{
    max-width: 500px;
    color: white;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;;
}

.learn-btn {
    background-color: rgb(236, 164, 55);
    padding: 10px 30px;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.coffee-container{
display: flex;
justify-content: space-around;
align-items:center;
flex-wrap: wrap;
margin: 10rem;

}


.img2{
 width:400px;
 height: 400px;
}
.title-two{
    font-size: 3rem;
    color:white;
    font-family: sans-serif;
}


.content-section p{
    max-width:500px;
    color: white;
    margin-top: 20px;

}


.products{
    margin-top: 5rem;
    color: white;
}

.title3{
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 10rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.card{
    border: 2px solid rgb(236, 164, 55);
    padding:0 20px;
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
    position: relative;
    border-radius: 5px;

}

.card-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;

}



.card1{
    background: url(images/1.png);
    background-position: center;
    background-size: cover;
    
}
.card2{
    background: url(images/2.png);
    background-position: center;
    background-size: cover;
    
}
.card3{
    background: url(images/3.png);
    background-position: center;
    background-size: cover;
    
}


.card-title{
    color: white ;
    font-family: sans-serif;
    margin-top: 200px;
}

.items{
    margin: 20px;
}


footer{
    height: 50vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
}

footer.container{
    margin: 20px;
    max-width: 300px;
    text-align: center;


}


footer .para {
   line-height: 25px;

span{
    color:rgb(236, 164, 55) ;
}