@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-btn{
    background-color: rgb(236, 164, 55);
    padding: 10px 20px;
}
body{
    background-color:black;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}
li{
    list-style: none;
    display: inline;
    cursor: pointer;
}

li a{
    color:white;
    text-decoration: none;
    margin:15px;
    padding-bottom:1px;
}

li a:hover{
border-bottom: 1px solid white;
}


.header{
    
    background: url(images/pexels-nao-triponez-129207.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    position: relative;
    text-align: center;
}


.main-heading{
    position: absolute;
    top: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom:-40px;

}

.primary-heading{
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}

.main-btn{
    position: absolute;
    margin-top: 20px;
    padding: 10px 30px; 
    bottom: 2rem;
    background: transparent;
    background-color: rgb(236, 164, 55);
    transform: translateY(60px);
}

#our-story{
   /* height :100vh; */
   margin-top: 15%d;
   display: flex;
   justify-content: space-around;
   align-items: center;
}


.img{
    width: 400px;
    height: 400px;
    background: url(images/pexels-chitokan-2183027-removebg-preview.png);
    background-position: center;
    background-size: cover;
    display: flex;
    
}

.titlestyle{
    display:flex;
    align-items: center;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    color: cornsilk;
    transform: translateX(-100px);
}

.line{
    width:100px;
    height: 2px;
    transform: translateX(-120px);
    color: white;
}

.section-content p{
    line-height: 20px;
    max-width: 500px;
    margin: 20px 0;
    color: white;
}
.section-content p{
    max-width: 500px;
    color: white;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;;
}

.learn-btn {
    background-color: rgb(236, 164, 55);
    padding: 10px 30px;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
